#box1 {
    width: 100px;
    height: 100px;
    background: url("./angular.jpg") no-repeat;
    background-size: 100% 100%;
}

#box2 {
    width: 100px;
    height: 100px;
    background: url("./vue.jpg") no-repeat;
    background-size: 100% 100%;
}

#box3 {
    width: 100px;
    height: 100px;
    background: url("./react.png") no-repeat;
    background-size: 100% 100%;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
