#box1 {
    width: 100px;
    height: 100px;
    background: url("../imgs/angular.jpg") no-repeat;
    background-size: 100% 100%;
}

#box2 {
    width: 100px;
    height: 100px;
    background: url("../imgs/vue.jpg") no-repeat;
    background-size: 100% 100%;
}

#box3 {
    width: 100px;
    height: 100px;
    background: url("../imgs/react.png") no-repeat;
    background-size: 100% 100%;
}

